

*{
		margin: 0;
		padding: 0;
		line-height: 1.6;
		box-sizing: border-box;
}



body{
		background-image:url(hill.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-height: 100vh;
		font-family: Helvetica;
}



.inputs h1{
		font-weight: 900;
		color: #fff;
		text-align: center;
		margin: .4em;
		font-family: arial;
		font-size: 260%;
		border-bottom: 2px solid black;
}



.container1{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		margin-top: 4em;
}

.inputs{
		border: 2px outset black;
		background-color: rgb(11, 6, 106);
		opacity: 95%;
		width: 40em;
		height: 20em;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 2em;
}

.inputs,.firstname	input{
			border: 2px solid black;
}

.inputs,.lastname	input{
			border: 2px solid black;
}

.inputs,.email	input{
			border: 2px solid black;
}

.inputs,.password	input{
			border: 2px solid black;
}

.inputs,.forgotpassword	input{
				border: 2px solid black;
}

.firstname input{
		outline: none;
		text-align: center;
		margin-bottom:3px;
}

.lastname input{
		outline: none;
		text-align: center;
		margin-bottom:3px;
}

.email input{
		outline: none;
		text-align: center;
		margin-bottom:3px;
}

.password input{
		outline: none;
		text-align: center;
		margin-bottom:3px;
}

.forgotpassword input{
		outline: none;
		text-align: center;
		margin-bottom:3px;
}

.signupbutton input	{width: 25em;
		height: 5em;
		border: 2px inset black;
		background-color: rgb(11, 6, 106);
		opacity: 98%;
		cursor: pointer;
		margin-top: 3em;
		outline: none;
		color: #ffffff;
		font-weight: 700;
}

.signupbutton input:hover	{background-color: midnightblue;}